/* CodeInput.css */
.code-inputs-container {
    display: flex;
    width: 483px;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    margin-top: 60px;

}

.code-input {
    width: 85px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #635F5F;
    text-align: center;
    font-size: 24px;
    outline: none;
}


@media only screen and (max-width: 768px) {

    .code-inputs-container {
        width: 343px;
        gap: 12px;
    }

    .code-input {
        width: 65px;
        height: 50px;
        font-size: 20px;
    }

}
