/* CodeInput.css */
.code-inputs-container {
    display: flex;
    width: 553px;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    margin-top: 60px;

}

.code-input {
    width: 85px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #635F5F;
    text-align: center;
    font-size: 24px;
    outline: none;
}

