@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.page-container-up {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: linear-gradient(255deg, #75A4FF -30.39%, rgba(173, 190, 223, 0.00) 86.58%), #FFF;
}

.form-container-up {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 450px;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 3.5px rgba(0, 0, 0, 0.25);
}

.form-container-up h2 {
    color: #1E1E1E;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(0.5vw + 1rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field-up {
    width: 253px;
    height: 49px;
    flex-shrink: 0;
    color: #635F5F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.48px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-right: 99px;
    margin-left: 98px;
    border: none !important;
    border-bottom: 1px solid #1E1E1E !important;
    box-sizing: border-box;
    padding-left: 22px;
    border-bottom: 1px solid #1E1E1E;
    outline: none;
    padding-right: 20px;
}


.input-field-up::placeholder {
    color: #635F5F;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.48px;
    text-transform: capitalize;
    box-sizing: border-box;
}

.confirm-password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 99px;
}

.confirm-password-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.information-text-with-icon {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 105px;
    color: #635F5F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.48px;
    text-transform: capitalize;
}

.information-text-with-icon span {
    align-self: flex-start;
    margin-top: 5px
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
    gap: 14px;
    padding-left: 0;
    margin-left: 105px;
}

.custom-checkbox {
    display: none; /* Скрыть стандартный чекбокс */

}

.checkbox-label {
    color: #635F5F;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.48px;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;

    position: relative;
    padding-left: 42px; /* Достаточно места для кастомного чекбокса */

}

.checkbox-label::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #635F5F;
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
}
.custom-checkbox:checked + .checkbox-label::after {
    content: '✔';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #635F5F;
}


.button-sign-up {
    display: flex;
    width: 280px;
    height: 55px;
    padding: 28px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.5px solid #7D7D7D;
    background: rgba(62, 128, 255, 0.90);
    box-shadow: 0 1px 4.8px 0 rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 100px;
    margin-bottom: 20px
}

.invalid-input {
    border-bottom: 1px solid #E33C54;
}

.invalid-input::placeholder {
    color: #E33C54;
}

.invalid-checkbox::before {
    border: 1px solid #E33C54;
}

.error-message-password {
    color: #E33C54;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    text-align: left;
    margin-left: 101px;
}


@media only screen and (max-width: 768px) {

    .form-container-up {
        max-width: 353px;
        width: 90%;
        margin-top: 15px;
        padding: 20px;
    }

    .form-container-up h2 {
        font-size: calc(0.5vw + 0.8rem);
    }


    .input-field-up {
        max-width: 230px;
        width: 100%;
        height: auto;
        margin: 15px 0 0 40px ;

    }

    .input-field-up::placeholder {
        font-size: 12px;
    }


    .confirm-password-icon {
        width: 24px;
        height: 16px;
        bottom: 8px;
        left: 230px
    }

    .information-text-with-icon,
    .checkbox-label,
    .error-message-password {
        font-size: 14px;
        margin-left: 50px;
    }

    .button-sign-up {
        width: auto;
        padding: 15px;
        font-size: 18px;
        align-items: center;
        margin-left: 1px;

    }

    .checkbox-container {
        margin-left: 1px;
    }

    .custom-checkbox:checked + .checkbox-label::after {
        font-size: 14px;

    }
}
